[user]
    email = mateusz@burniak.pl
    name = matbur
[merge]
    tool = vimdiff
[core]
    editor = vim
    autocrlf = input
    excludesfile = /Users/mburniak/.gitignore
[alias]
    br = branch
    ci = commit
    cl = clone
    co = checkout
    di = diff
    l = log --oneline --decorate --all --graph
    pu = push
    s = status -s
    st = status
    up = pull
    fzf = !git checkout $(git branch | fzf)
[push]
    default = simple
[credential]
    helper = cache
[pull]
    rebase = true
[rerere]
    enabled = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
