[user]
    email = mateusz@burniak.pl
    name = matbur
[merge]
    tool = vimdiff
[core]
    editor = vim
    autocrlf = input
[alias]
    br = branch
    ci = commit
    cl = clone
    co = checkout
    di = diff
    l = log --oneline --decorate --all --graph
    pu = push
    s = status -s
    st = status
    up = pull
[push]
    default = simple
[credential]
    helper = cache
[pull]
    rebase = true
[rerere]
    enabled = true
