[user]
    email = mateusz@burniak.pl
    name = matbur
[merge]
    tool = vimdiff
[core]
    editor = vim
    autocrlf = input
[alias]
    br = branch
    ci = commit
    cl = clone
    co = checkout
    di = diff
    pu = push
    st = status
    up = pull
[push]
    default = matching
[credential]
    helper = cache
